/* CustomCarousel.css */

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-image {
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: purple;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

/* CustomCarousel.css */

.scrollable-nav {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}

.scrollable-nav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

/* CustomCarousel.css */

.dashboard-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.dashboard-card {
    transition: transform 0.3s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

