@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

.main-heading{
  font-size: 6vw; 
  font-family: 'Manrope';
  font-weight: 900;
  letter-spacing: -0.055em;
}

.text-base{
  font-size: 1.5vw; 
  font-family: 'Manrope';
  letter-spacing: -0.03em;
  font-weight: 300;
}